/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

body{ 
  /* global settings */ 
  background-color:#00A8CC;/* lightblue */ 
  font-family:Verdana,Geneva,sans-serif; 
  word-wrap:break-word; 
  color:#000839;/* darkerblue */ 
  text-align:center; 
  } 
   
h1{ 
  color:#FFA41B;/* orange */ 
  font-size:46pt; 
  } 
   
  

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #005082;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #005082;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.signature {
  font-style:italic;
  position: fixed;
  bottom: 0;
}